
@font-face {
    font-family: 'JetBrainsMono-Bold';
    font-style: normal;
    font-weight: 700;
    src: url("../../fonts/JetBrainsMono-Bold.woff2") format("woff");
  }  
  
.tabs {
    display: flex;
    
  
}

.title h1 { 
    text-align: left;

}
.ul { 
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */

}
.title li { 
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */

}

.title h2 { 
    text-align: left;

}

.bgmain {
    display: flex;
    flex-direction: column;
    width: 272px;
    height: 208px;
    display: inline-block;
    position: relative;
  }

.burger_block {
    height: 520px;
    width: 100%;
    text-align: left;
    overflow-y: scroll;
}

.burger_block::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #2f2f37;
}

.burger_block::-webkit-scrollbar-thumb {
	
	background-color: #8585AD

}
.burger_counter {
    position: relative;
  }

.burger_image {
    height: 120px;
    width: 220px;
    justify-content: center;
  }

.burger_price {
    width: 240px;
    font-size: 28px;
    margin-right: 9px;
    flex-direction: row;
    justify-content: center;
    display: flex;
    gap: 9px;
    
  }

.burger_name {
    align-content: center;
    text-align: center;
    height: 48px;
    width: 220px;
    font-size: 16px;
    justify-content: center;
    display: block;
  }