.tabs {
    display: flex;
    
  
}

.li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: start;
    margin-left: 16px;

}

.bgmain {
    flex-direction: column;
    display: flex;
}

.main_block {
    display: flex;
    position: absolute;
    left: 200px;
    
   }

.ingredients_block {
    position: absolute;
    height: 600px; 
    width: 560px;
    overflow-y: scroll;
    font-family: 'JetBrains Mono', Arial, sans-serif;
}

.ingredients_block::-webkit-scrollbar {
	width: 10px;
	height: 8px;
	background-color: #2f2f37;
}

.ingredients_block::-webkit-scrollbar-thumb {
	
	background-color: #8585AD

}

