
@font-face {
    font-family: 'JetBrainsMono-Bold';
    font-style: normal;
    font-weight: 700;
    src: url("../../fonts/JetBrainsMono-Bold.woff2") format("woff");
  }  
  
.tabs {
    display: flex;
    
  
}


.bgmain {
    display: inline-block;
    width: 300px;
    height: 180px;;
    flex-direction: column;
    position: static;
}

.main_block {
    
    width: 670px;
    height: 912px;
    left: 240px;
    top: 88px;
    position: absolute;
   }

.ingredients_block {
    height: 520px;
    
    overflow-y: scroll;
    
    
}
.ingredients_item {
    width: 320px;
    text-align: center;
    top: 8px;
}
.ingredients_block::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #2f2f37;
}

.ingredients_block::-webkit-scrollbar-thumb {
	
	background-color: #8585AD

}

.price {
    font-size: 24px;
    width: 320px;
    text-align: center;
}

.image {
    width: 320px;
    text-align: center;
}
