
@font-face {
    font-family: 'JetBrainsMono-Bold';
    font-style: normal;
    font-weight: 700;
    src: url("../../fonts/JetBrainsMono-Bold.woff2") format("woff");
  }  
  
.main {
    position: absolute;
    height: 388px;
    left: 810px;
    width: 576px;
    top: 308px;
    overflow-y: scroll;
    justify-content: center;
    
    
}

.maintop {
    position: absolute;
    
    left: 830px;
    width: 576px;
    top: 228px;
    
}

.mainbottom {
    position: absolute;
    
    left: 830px;
    width: 576px;
    top: 688px;
    
}

.button {
    position: absolute;
    
    left: 1040px;
    width: 576px;
    top: 800px;
}

.button span{
  padding-top: 10px;
   padding-right: 5px;

   
}
.price{
    padding-right: 40px;
}
.main::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #2f2f37;
}

.main::-webkit-scrollbar-thumb {
	
	background-color: #8585AD
}
 
