
@font-face {
    font-family: 'JetBrainsMono-Bold';
    font-style: normal;
    font-weight: 700;
    src: url("../../fonts/JetBrainsMono-Bold.woff2") format("woff");
  }  
  
.main {
    left: 55%;
    position: absolute;
}

.container_block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    overflow-y: scroll;
    height: 450px;
    position: absolute;
    top: 184px;
    
    
}
.container_block::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #2f2f37;
}

.container_block::-webkit-scrollbar-thumb {
	
	background-color: #8585AD
}
 
.bugrers_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 32px 16px 24px;
    background: #1C1C21;
    border-radius: 88px;
    height: 80px;
    left: 32px;
    right: 0px;
    margin-top: 16px;
    max-width:500px;
}

.element{
    
    display: flex;
    justify-content: right;
    align-items: center;
    max-width:480px;
    align-items: center;
}
.burger-image {
    position: abcolute;
    width: 40px;
    height: 40px;
}
.burgers_name{
    position: static;
    max-width: 254px;
    height: 48px;
    left: 124px;
    top: calc(50% - 48px/2);
    font-family: 'JetBrains Mono';
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #F2F2F3;
    flex: none;
    order: 1;
    flex-grow: 1;
    margin: 0px 20px;

}

.bugrers_container_block_disabled{

    display: flex;
    padding: 0px;
    position: absolute;
    top: 88px;
    
}
.bugrers_block_disabled 
 {
    composes:bugrers_block;
    padding: 0px 32px 0px 24px;
    border-radius: 88px 88px 40px 40px;
    
}

.bugrers_container_block_disabled_bottom
 {
    composes:bugrers_container_block_disabled;
    top: 640px;
}

.bugrers_block_disabled_bottom {
    composes:bugrers_block;
    border-radius: 40px 40px 88px 88px ;
    padding: 0px 32px 0px 24px;

} 

.bottom_price {
    margin-left: 200px;  
    margin-top: 770px;
}
